name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
      - name: Enable Corepack
        run: corepack enable
      - name: Install
        run: yarn --no-immutable
      - name: Build
        run: yarn build
      - name: Publish
        run: |-
          yarn config set npmPublishProvenance true
          yarn config set npmRegistryServer https://registry.npmjs.org/
          yarn pub --debug
